.home-page {
    text-align: center;
    padding: 0;
    position: relative; /* Ensure relative positioning for absolute child elements */
}

.model-y-title {
    position: absolute; /* Position the title absolutely */
    top: 20%; /* Adjust the positioning as needed */
    left: 50%;
    transform: translateX(-50%);
    font-size: 48px; /* Adjust the font size as needed */
    color: #171a20;
    color-scheme: light;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.5); /* Add a shadow for better readability */
    font-family: var(--tds-font-family-latin-display);
}

.model-y-image {
    width: 100%;
    height: calc(100vh - 100px); /* Ensure the image covers the canvas but not the header */
    object-fit: cover;
}

.button-group {
    position: absolute; /* Position the buttons absolutely */
    bottom: 10%; /* Adjust the positioning as needed */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    margin-top: 20px;
}
